main {
  min-height: 100%;
  color: #fff;
  padding: 41px 0 105px 0;
}

header {
  /* margin-bottom: 171px; */
}

.header-content,
.today-forecast-section,
.hourly-forecast-card {
  display: flex;
  align-items: center;
}

.header-content,
.today-forecast-section {
  justify-content: space-between;
}

button,
.today-forecast-section .right h5,
.hourly-forecast-card h6 {
  font-size: 24px;
}

button {
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  background: transparent;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border: none;
}

.d-b-active {
  background: rgba(255, 255, 255, 0.25);
  border-left: 2px solid #FFFFFF;
}

button,
.today-forecast-section .left h1,
.today-forecast-section .left h5,
.today-forecast-section .right h1,
.today-forecast-section .right h4,
.today-forecast-section .right h5,
.hourly-forecast-card h5,
.hourly-forecast-card h6 {
  font-family: Work Sans;
  font-style: normal;
  letter-spacing: 0.05em;
}

.today-forecast-section .left h1,
.today-forecast-section .left h5,
.today-forecast-section .right h1 {
  font-weight: 700;
}

.today-forecast-section .left h1 {
  font-size: 64px;
  line-height: 75px;
  margin-bottom: 10px;
}

.today-forecast-section .left h5 {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 35px;
}

.today-forecast-section .left svg {
  margin-bottom: 16px;
}

.today-forecast-section .right h1 {
  font-size: 144px;
  line-height: 169px;
  text-align: right;
}

.today-forecast-section .right h4 {
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 23px;
  text-align: right;
}

.today-forecast-section .right h4 span {
  color: rgba(255, 255, 255, 0.75);
}

.today-forecast-section .right h5 {
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: right;
}

.section-top-bar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 37px;
}

.section-top-bar button {
  padding: 15px 0;
  margin-right: 59px;
}

.hourly-button-active {
  border-bottom: 3px solid #FFFFFF;
}

.hourly-forecast {
  display: flex;
  padding-bottom: 35px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  overflow-x: auto;
}

/* scroll height */
.hourly-forecast::-webkit-scrollbar {
  height: 3px;
}

/* scroll Track */
.hourly-forecast::-webkit-scrollbar-track {
  background: transparent;
}
 
/* scroll Handle */
.hourly-forecast::-webkit-scrollbar-thumb {
  background: #fff;
}

/* scroll Handle on hover */
.hourly-forecast::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.hourly-forecast-card {
  margin-right: 70px;
  flex-direction: column;
}

.hourly-forecast-card:last-child {
  margin-right: 0;
}

.hourly-forecast-card h6,
.hourly-forecast-card h5 {
  text-align: center;
}

.hourly-forecast-card h6 {
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

.hourly-forecast-card svg {
  width: 66px;
}

.hourly-forecast-card h5 {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;

}