html,
body {
  margin: 0;
  font-family: 'Work Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: url('./assets/bg.png') center no-repeat;
  background-size: cover;
  height: 100vh;
}